body {
  font-family: 'Times New Roman', Times, serif, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;
}

header {
  text-align: center;
  background: #222;
  color: white;
  padding: 20px;
}

section {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #222;
  color: white;
}
